.loader1{
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 50% 100%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1{
    0% {background-size: 20% 100%, 20% 100%, 20% 100%;}
    33% {background-size: 20% 100%, 20% 100%, 20% 100%;}
    50% {background-size: 20% 100%, 20% 100%, 20% 100%;}
    66% {background-size: 20% 100%, 20% 100%, 20% 100%;}
    100% {background-size: 20% 100%, 20% 100%, 20% 100%;}
}

.container{
    margin: 1rem;
    display: flex;
}
.loader2{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
}
@keyframes l2 {
    to{ 
        transform: rotate(1turn);
    }
}

.loader3{
    width: 60px;
    aspect-ratio: 1.154;
    --c:#000, #25b09b 2deg 59deg, #0000 61deg;
    --c1: conic-gradient(from 149deg at top, var(--c));
    --c2: conic-gradient(from -31deg at bottom, var(--c));
    background: 
    var(--c1) top,
    var(--c1) bottom right,
    var(--c2) bottom,
    var(--c1) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation: l37 1s infinite cubic-bezier(0.5, 0.05, 0.39, 1.04);
}
@keyframes l37{
    80%, 100% {
        background-position: bottom right, bottom left, bottom, top;
    }
}
.loader4{
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background: 
    repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px) 0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
    animation: l4 2s infinite
}
@keyframes l4 {
    100% {
        background-size: 100%;
    }
}

.loader5{
    width: calc(80px / cos(45deg));
    height: 14px;
    background: repeating-linear-gradient(-45deg, #858585 0 15px, #0000 0 20px) left/200% 100%;
    animation: l5 2s infinite linear;
}
@keyframes l5{
    100%{ 
        background-position: right;
    }
}

.loader6{
    width: 120px;
    height: 22px;
    border-radius: 40px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    overflow: hidden;
}
.loader6::before{
    content: "";
    position:absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
    animation: l6 1s infinite linear;
}
@keyframes l6{
    100% {
        left: calc(100% + 20px);
    }
}